In [69]:
from bs4 import BeautifulSoup
import requests
import datetime
import calendar
import pandas as pd

In [70]:
# URL to download is a jsp page with params
# example below
# https://www.nseindia.com/products/dynaContent/equities/indices/total_returnindices.jsp?indexType=NIFTY%2050&fromDate=01-01-2015&toDate=31-12-2015
# The data returned will only return 100 rows at a time,
# so we can download with a rolling window smaller than that

In [71]:
# Just a test run
r = requests.get('https://www.nseindia.com/products/dynaContent/equities/indices/total_returnindices.jsp?indexType=NIFTY%2050&fromDate=01-01-2015&toDate=31-12-2015')
print(r)

<Response [200]>

In [72]:
TOTAL_RETURN_URL="https://www.nseindia.com/products/dynaContent/equities/indices/total_returnindices.jsp?indexType={index}&fromDate={fromDate}&toDate={toDate}"
def create_total_return_url(index, from_date, to_date):
    #print(from_date)
    #print(to_date)
    u = TOTAL_RETURN_URL.format(index=index, 
                                fromDate=from_date.strftime("%d-%m-%Y"), 
                                toDate=to_date.strftime("%d-%m-%Y"))
    return u

print(create_total_return_url("NIFTY 50", datetime.date(2000, 1, 1), datetime.date(2000, 1, 31)))

https://www.nseindia.com/products/dynaContent/equities/indices/total_returnindices.jsp?indexType=NIFTY 50&fromDate=01-01-2000&toDate=31-01-2000

In [73]:
r = requests.get(create_total_return_url("NIFTY 50", datetime.date(2000, 1, 1), datetime.date(2000, 1, 31)))
sampletext = r.text
print(sampletext)

<!--VAPT Azhar-->


<!--VAPT Azhar-->




<table width="40%"><tbody>
	<TR>
	<Th valign=top colspan=2 ALIGN="CENTER">
	Historical Data for NIFTY 50
for the period 01-01-2000 to 31-01-2000
</th></tr>



         <tr> <th>Date</th><th>Total Returns Index</th>
</tr>

				  <tr>

				<td class="date">03-Jan-2000</td>

			     <td class="number">1688.44</td>

			   </tr>

				  <tr>

				<td class="date">04-Jan-2000</td>

			     <td class="number">1737.75</td>

			   </tr>

				  <tr>

				<td class="date">05-Jan-2000</td>

			     <td class="number">1692.25</td>

			   </tr>

				  <tr>

				<td class="date">06-Jan-2000</td>

			     <td class="number">1715.37</td>

			   </tr>

				  <tr>

				<td class="date">07-Jan-2000</td>

			     <td class="number">1710.81</td>

			   </tr>

				  <tr>

				<td class="date">10-Jan-2000</td>

			     <td class="number">1731.65</td>

			   </tr>

				  <tr>

				<td class="date">11-Jan-2000</td>

			     <td class="number">1667.54</td>

			   </tr>

				  <tr>

				<td class="date">12-Jan-2000</td>

			     <td class="number">1723.01</td>

			   </tr>

				  <tr>

				<td class="date">13-Jan-2000</td>

			     <td class="number">1719.4</td>

			   </tr>

				  <tr>

				<td class="date">14-Jan-2000</td>

			     <td class="number">1720.83</td>

			   </tr>

				  <tr>

				<td class="date">17-Jan-2000</td>

			     <td class="number">1709.01</td>

			   </tr>

				  <tr>

				<td class="date">18-Jan-2000</td>

			     <td class="number">1703.81</td>

			   </tr>

				  <tr>

				<td class="date">19-Jan-2000</td>

			     <td class="number">1733.66</td>

			   </tr>

				  <tr>

				<td class="date">20-Jan-2000</td>

			     <td class="number">1697.87</td>

			   </tr>

				  <tr>

				<td class="date">21-Jan-2000</td>

			     <td class="number">1718.55</td>

			   </tr>

				  <tr>

				<td class="date">24-Jan-2000</td>

			     <td class="number">1711.13</td>

			   </tr>

				  <tr>

				<td class="date">25-Jan-2000</td>

			     <td class="number">1682.28</td>

			   </tr>

				  <tr>

				<td class="date">27-Jan-2000</td>

			     <td class="number">1700.84</td>

			   </tr>

				  <tr>

				<td class="date">28-Jan-2000</td>

			     <td class="number">1695.75</td>

			   </tr>

				  <tr>

				<td class="date">31-Jan-2000</td>

			     <td class="number">1639.66</td>

			   </tr>

			</td></tr>
	<div id='csvContentDiv' style='display:none;'>"Date","Total Returns Index":"03-Jan-2000","1688.44":"04-Jan-2000","1737.75":"05-Jan-2000","1692.25":"06-Jan-2000","1715.37":"07-Jan-2000","1710.81":"10-Jan-2000","1731.65":"11-Jan-2000","1667.54":"12-Jan-2000","1723.01":"13-Jan-2000","1719.4":"14-Jan-2000","1720.83":"17-Jan-2000","1709.01":"18-Jan-2000","1703.81":"19-Jan-2000","1733.66":"20-Jan-2000","1697.87":"21-Jan-2000","1718.55":"24-Jan-2000","1711.13":"25-Jan-2000","1682.28":"27-Jan-2000","1700.84":"28-Jan-2000","1695.75":"31-Jan-2000","1639.66":</div>
	<input type='hidden' value=NIFTY50tri01-01-2000-31-01-2000.csv id='csvFileName'></input>

	   <tr><TD colspan="2" class="number"><a class="historical-csv-downld" download target"_blank" style='cursor:pointer' >Download file in csv format</a></td></tr>
	   </table>

In [74]:
def gen_input_range(sYear, sMonth, eYear, eMonth):
    ir = []
    for y in range(sYear, eYear+1):
        sm = 1
        em = 12
        if sYear == y:
            sm = sMonth
        if eYear == y:
            em = eMonth
        for m in range(sm, em+1):
            mr = calendar.monthrange(y, m)
            #print("{year} {month} {mr}".format(year=y, month=m, mr=mr))
            ir.append((datetime.date(y, m, 1), datetime.date(y, m, mr[1])))
    #print(ir)
    return ir
input_range = gen_input_range(2000, 2, 2001, 4)
for i in input_range:
    print(create_total_return_url("NIFTY 50", i[0], i[1]))

https://www.nseindia.com/products/dynaContent/equities/indices/total_returnindices.jsp?indexType=NIFTY 50&fromDate=01-02-2000&toDate=29-02-2000
https://www.nseindia.com/products/dynaContent/equities/indices/total_returnindices.jsp?indexType=NIFTY 50&fromDate=01-03-2000&toDate=31-03-2000
https://www.nseindia.com/products/dynaContent/equities/indices/total_returnindices.jsp?indexType=NIFTY 50&fromDate=01-04-2000&toDate=30-04-2000
https://www.nseindia.com/products/dynaContent/equities/indices/total_returnindices.jsp?indexType=NIFTY 50&fromDate=01-05-2000&toDate=31-05-2000
https://www.nseindia.com/products/dynaContent/equities/indices/total_returnindices.jsp?indexType=NIFTY 50&fromDate=01-06-2000&toDate=30-06-2000
https://www.nseindia.com/products/dynaContent/equities/indices/total_returnindices.jsp?indexType=NIFTY 50&fromDate=01-07-2000&toDate=31-07-2000
https://www.nseindia.com/products/dynaContent/equities/indices/total_returnindices.jsp?indexType=NIFTY 50&fromDate=01-08-2000&toDate=31-08-2000
https://www.nseindia.com/products/dynaContent/equities/indices/total_returnindices.jsp?indexType=NIFTY 50&fromDate=01-09-2000&toDate=30-09-2000
https://www.nseindia.com/products/dynaContent/equities/indices/total_returnindices.jsp?indexType=NIFTY 50&fromDate=01-10-2000&toDate=31-10-2000
https://www.nseindia.com/products/dynaContent/equities/indices/total_returnindices.jsp?indexType=NIFTY 50&fromDate=01-11-2000&toDate=30-11-2000
https://www.nseindia.com/products/dynaContent/equities/indices/total_returnindices.jsp?indexType=NIFTY 50&fromDate=01-12-2000&toDate=31-12-2000
https://www.nseindia.com/products/dynaContent/equities/indices/total_returnindices.jsp?indexType=NIFTY 50&fromDate=01-01-2001&toDate=31-01-2001
https://www.nseindia.com/products/dynaContent/equities/indices/total_returnindices.jsp?indexType=NIFTY 50&fromDate=01-02-2001&toDate=28-02-2001
https://www.nseindia.com/products/dynaContent/equities/indices/total_returnindices.jsp?indexType=NIFTY 50&fromDate=01-03-2001&toDate=31-03-2001
https://www.nseindia.com/products/dynaContent/equities/indices/total_returnindices.jsp?indexType=NIFTY 50&fromDate=01-04-2001&toDate=30-04-2001

In [75]:
ssoup = BeautifulSoup(sampletext, "html5lib")

In [76]:
items = []
print(items)
for row in ssoup.find_all('tr'):
    item = []
    columns = row.find_all('td')
    has_content = False
    for column in columns:
        if not 'csv' in column.get_text():
            item.append(column.get_text())
        else:
            break
        #print(column.get_text())
        has_content = True
    if has_content:
        items.append(item)
    
#print(items)

new_table = pd.DataFrame(items, columns=['Date', 'TotalReturnsIndex'])
new_table.head()

[]

          Date TotalReturnsIndex
0  03-Jan-2000           1688.44
1  04-Jan-2000           1737.75
2  05-Jan-2000           1692.25
3  06-Jan-2000           1715.37
4  07-Jan-2000           1710.81

In [77]:
def download_and_parse_totalreturns(url):
    r = requests.get(url)
    ssoup = BeautifulSoup(r.text, "html5lib")
    items = []
    for row in ssoup.find_all('tr'):
        item = []
        columns = row.find_all('td')
        has_content = False
        for column in columns:
            if not 'csv' in column.get_text():
                item.append(column.get_text())
            else:
                break
            #print(column.get_text())
            has_content = True
        if has_content:
            items.append(item)

    #print(items)

    new_table = pd.DataFrame(items, columns=['Date', 'TotalReturnsIndex'])
    new_table.head()
    return new_table

In [83]:
def download_all_nifty50_totalreturnsindex(start_year, start_month, end_year, end_month):
    months = {}
    input_range = gen_input_range(start_year, start_month, end_year, end_month)
    for i in input_range:
        months[i] = create_total_return_url("NIFTY 50", i[0], i[1])
    #print (months)
    dflist = []
    for m in months.keys():
        df = download_and_parse_totalreturns(months[m])
        #df.to_csv('./data/nifty50-totalreturns-{}-to-{}.csv'.format(m[0], m[1]), index=False)
        dflist.append(df)
        print(m)
    print ('Done')
    alldf = pd.concat(dflist)
    alldf.head()
    print(alldf.tail())
    alldf.to_csv('./data/nifty50-totalreturns-{}-{}-{}-{}.csv'.format(start_year, start_month, end_year, end_month), index=False)
    
download_all_nifty50_totalreturnsindex(2000, 1, 2018, 5)

(datetime.date(2000, 1, 1), datetime.date(2000, 1, 31))
(datetime.date(2000, 2, 1), datetime.date(2000, 2, 29))
(datetime.date(2000, 3, 1), datetime.date(2000, 3, 31))
(datetime.date(2000, 4, 1), datetime.date(2000, 4, 30))
(datetime.date(2000, 5, 1), datetime.date(2000, 5, 31))
(datetime.date(2000, 6, 1), datetime.date(2000, 6, 30))
(datetime.date(2000, 7, 1), datetime.date(2000, 7, 31))
(datetime.date(2000, 8, 1), datetime.date(2000, 8, 31))
(datetime.date(2000, 9, 1), datetime.date(2000, 9, 30))
(datetime.date(2000, 10, 1), datetime.date(2000, 10, 31))
(datetime.date(2000, 11, 1), datetime.date(2000, 11, 30))
(datetime.date(2000, 12, 1), datetime.date(2000, 12, 31))
(datetime.date(2001, 1, 1), datetime.date(2001, 1, 31))
(datetime.date(2001, 2, 1), datetime.date(2001, 2, 28))
(datetime.date(2001, 3, 1), datetime.date(2001, 3, 31))
(datetime.date(2001, 4, 1), datetime.date(2001, 4, 30))
(datetime.date(2001, 5, 1), datetime.date(2001, 5, 31))
(datetime.date(2001, 6, 1), datetime.date(2001, 6, 30))
(datetime.date(2001, 7, 1), datetime.date(2001, 7, 31))
(datetime.date(2001, 8, 1), datetime.date(2001, 8, 31))
(datetime.date(2001, 9, 1), datetime.date(2001, 9, 30))
(datetime.date(2001, 10, 1), datetime.date(2001, 10, 31))
(datetime.date(2001, 11, 1), datetime.date(2001, 11, 30))
(datetime.date(2001, 12, 1), datetime.date(2001, 12, 31))
(datetime.date(2002, 1, 1), datetime.date(2002, 1, 31))
(datetime.date(2002, 2, 1), datetime.date(2002, 2, 28))
(datetime.date(2002, 3, 1), datetime.date(2002, 3, 31))
(datetime.date(2002, 4, 1), datetime.date(2002, 4, 30))
(datetime.date(2002, 5, 1), datetime.date(2002, 5, 31))
(datetime.date(2002, 6, 1), datetime.date(2002, 6, 30))
(datetime.date(2002, 7, 1), datetime.date(2002, 7, 31))
(datetime.date(2002, 8, 1), datetime.date(2002, 8, 31))
(datetime.date(2002, 9, 1), datetime.date(2002, 9, 30))
(datetime.date(2002, 10, 1), datetime.date(2002, 10, 31))
(datetime.date(2002, 11, 1), datetime.date(2002, 11, 30))
(datetime.date(2002, 12, 1), datetime.date(2002, 12, 31))
(datetime.date(2003, 1, 1), datetime.date(2003, 1, 31))
(datetime.date(2003, 2, 1), datetime.date(2003, 2, 28))
(datetime.date(2003, 3, 1), datetime.date(2003, 3, 31))
(datetime.date(2003, 4, 1), datetime.date(2003, 4, 30))
(datetime.date(2003, 5, 1), datetime.date(2003, 5, 31))
(datetime.date(2003, 6, 1), datetime.date(2003, 6, 30))
(datetime.date(2003, 7, 1), datetime.date(2003, 7, 31))
(datetime.date(2003, 8, 1), datetime.date(2003, 8, 31))
(datetime.date(2003, 9, 1), datetime.date(2003, 9, 30))
(datetime.date(2003, 10, 1), datetime.date(2003, 10, 31))
(datetime.date(2003, 11, 1), datetime.date(2003, 11, 30))
(datetime.date(2003, 12, 1), datetime.date(2003, 12, 31))
(datetime.date(2004, 1, 1), datetime.date(2004, 1, 31))
(datetime.date(2004, 2, 1), datetime.date(2004, 2, 29))
(datetime.date(2004, 3, 1), datetime.date(2004, 3, 31))
(datetime.date(2004, 4, 1), datetime.date(2004, 4, 30))
(datetime.date(2004, 5, 1), datetime.date(2004, 5, 31))
(datetime.date(2004, 6, 1), datetime.date(2004, 6, 30))
(datetime.date(2004, 7, 1), datetime.date(2004, 7, 31))
(datetime.date(2004, 8, 1), datetime.date(2004, 8, 31))
(datetime.date(2004, 9, 1), datetime.date(2004, 9, 30))
(datetime.date(2004, 10, 1), datetime.date(2004, 10, 31))
(datetime.date(2004, 11, 1), datetime.date(2004, 11, 30))
(datetime.date(2004, 12, 1), datetime.date(2004, 12, 31))
(datetime.date(2005, 1, 1), datetime.date(2005, 1, 31))
(datetime.date(2005, 2, 1), datetime.date(2005, 2, 28))
(datetime.date(2005, 3, 1), datetime.date(2005, 3, 31))
(datetime.date(2005, 4, 1), datetime.date(2005, 4, 30))
(datetime.date(2005, 5, 1), datetime.date(2005, 5, 31))
(datetime.date(2005, 6, 1), datetime.date(2005, 6, 30))
(datetime.date(2005, 7, 1), datetime.date(2005, 7, 31))
(datetime.date(2005, 8, 1), datetime.date(2005, 8, 31))
(datetime.date(2005, 9, 1), datetime.date(2005, 9, 30))
(datetime.date(2005, 10, 1), datetime.date(2005, 10, 31))
(datetime.date(2005, 11, 1), datetime.date(2005, 11, 30))
(datetime.date(2005, 12, 1), datetime.date(2005, 12, 31))
(datetime.date(2006, 1, 1), datetime.date(2006, 1, 31))
(datetime.date(2006, 2, 1), datetime.date(2006, 2, 28))
(datetime.date(2006, 3, 1), datetime.date(2006, 3, 31))
(datetime.date(2006, 4, 1), datetime.date(2006, 4, 30))
(datetime.date(2006, 5, 1), datetime.date(2006, 5, 31))
(datetime.date(2006, 6, 1), datetime.date(2006, 6, 30))
(datetime.date(2006, 7, 1), datetime.date(2006, 7, 31))
(datetime.date(2006, 8, 1), datetime.date(2006, 8, 31))
(datetime.date(2006, 9, 1), datetime.date(2006, 9, 30))
(datetime.date(2006, 10, 1), datetime.date(2006, 10, 31))
(datetime.date(2006, 11, 1), datetime.date(2006, 11, 30))
(datetime.date(2006, 12, 1), datetime.date(2006, 12, 31))
(datetime.date(2007, 1, 1), datetime.date(2007, 1, 31))
(datetime.date(2007, 2, 1), datetime.date(2007, 2, 28))
(datetime.date(2007, 3, 1), datetime.date(2007, 3, 31))
(datetime.date(2007, 4, 1), datetime.date(2007, 4, 30))
(datetime.date(2007, 5, 1), datetime.date(2007, 5, 31))
(datetime.date(2007, 6, 1), datetime.date(2007, 6, 30))
(datetime.date(2007, 7, 1), datetime.date(2007, 7, 31))
(datetime.date(2007, 8, 1), datetime.date(2007, 8, 31))
(datetime.date(2007, 9, 1), datetime.date(2007, 9, 30))
(datetime.date(2007, 10, 1), datetime.date(2007, 10, 31))
(datetime.date(2007, 11, 1), datetime.date(2007, 11, 30))
(datetime.date(2007, 12, 1), datetime.date(2007, 12, 31))
(datetime.date(2008, 1, 1), datetime.date(2008, 1, 31))
(datetime.date(2008, 2, 1), datetime.date(2008, 2, 29))
(datetime.date(2008, 3, 1), datetime.date(2008, 3, 31))
(datetime.date(2008, 4, 1), datetime.date(2008, 4, 30))
(datetime.date(2008, 5, 1), datetime.date(2008, 5, 31))
(datetime.date(2008, 6, 1), datetime.date(2008, 6, 30))
(datetime.date(2008, 7, 1), datetime.date(2008, 7, 31))
(datetime.date(2008, 8, 1), datetime.date(2008, 8, 31))
(datetime.date(2008, 9, 1), datetime.date(2008, 9, 30))
(datetime.date(2008, 10, 1), datetime.date(2008, 10, 31))
(datetime.date(2008, 11, 1), datetime.date(2008, 11, 30))
(datetime.date(2008, 12, 1), datetime.date(2008, 12, 31))
(datetime.date(2009, 1, 1), datetime.date(2009, 1, 31))
(datetime.date(2009, 2, 1), datetime.date(2009, 2, 28))
(datetime.date(2009, 3, 1), datetime.date(2009, 3, 31))
(datetime.date(2009, 4, 1), datetime.date(2009, 4, 30))
(datetime.date(2009, 5, 1), datetime.date(2009, 5, 31))
(datetime.date(2009, 6, 1), datetime.date(2009, 6, 30))
(datetime.date(2009, 7, 1), datetime.date(2009, 7, 31))
(datetime.date(2009, 8, 1), datetime.date(2009, 8, 31))
(datetime.date(2009, 9, 1), datetime.date(2009, 9, 30))
(datetime.date(2009, 10, 1), datetime.date(2009, 10, 31))
(datetime.date(2009, 11, 1), datetime.date(2009, 11, 30))
(datetime.date(2009, 12, 1), datetime.date(2009, 12, 31))
(datetime.date(2010, 1, 1), datetime.date(2010, 1, 31))
(datetime.date(2010, 2, 1), datetime.date(2010, 2, 28))
(datetime.date(2010, 3, 1), datetime.date(2010, 3, 31))
(datetime.date(2010, 4, 1), datetime.date(2010, 4, 30))
(datetime.date(2010, 5, 1), datetime.date(2010, 5, 31))
(datetime.date(2010, 6, 1), datetime.date(2010, 6, 30))
(datetime.date(2010, 7, 1), datetime.date(2010, 7, 31))
(datetime.date(2010, 8, 1), datetime.date(2010, 8, 31))
(datetime.date(2010, 9, 1), datetime.date(2010, 9, 30))
(datetime.date(2010, 10, 1), datetime.date(2010, 10, 31))
(datetime.date(2010, 11, 1), datetime.date(2010, 11, 30))
(datetime.date(2010, 12, 1), datetime.date(2010, 12, 31))
(datetime.date(2011, 1, 1), datetime.date(2011, 1, 31))
(datetime.date(2011, 2, 1), datetime.date(2011, 2, 28))
(datetime.date(2011, 3, 1), datetime.date(2011, 3, 31))
(datetime.date(2011, 4, 1), datetime.date(2011, 4, 30))
(datetime.date(2011, 5, 1), datetime.date(2011, 5, 31))
(datetime.date(2011, 6, 1), datetime.date(2011, 6, 30))
(datetime.date(2011, 7, 1), datetime.date(2011, 7, 31))
(datetime.date(2011, 8, 1), datetime.date(2011, 8, 31))
(datetime.date(2011, 9, 1), datetime.date(2011, 9, 30))
(datetime.date(2011, 10, 1), datetime.date(2011, 10, 31))
(datetime.date(2011, 11, 1), datetime.date(2011, 11, 30))
(datetime.date(2011, 12, 1), datetime.date(2011, 12, 31))
(datetime.date(2012, 1, 1), datetime.date(2012, 1, 31))
(datetime.date(2012, 2, 1), datetime.date(2012, 2, 29))

(datetime.date(2012, 3, 1), datetime.date(2012, 3, 31))
(datetime.date(2012, 4, 1), datetime.date(2012, 4, 30))
(datetime.date(2012, 5, 1), datetime.date(2012, 5, 31))
(datetime.date(2012, 6, 1), datetime.date(2012, 6, 30))
(datetime.date(2012, 7, 1), datetime.date(2012, 7, 31))
(datetime.date(2012, 8, 1), datetime.date(2012, 8, 31))
(datetime.date(2012, 9, 1), datetime.date(2012, 9, 30))
(datetime.date(2012, 10, 1), datetime.date(2012, 10, 31))
(datetime.date(2012, 11, 1), datetime.date(2012, 11, 30))
(datetime.date(2012, 12, 1), datetime.date(2012, 12, 31))
(datetime.date(2013, 1, 1), datetime.date(2013, 1, 31))
(datetime.date(2013, 2, 1), datetime.date(2013, 2, 28))
(datetime.date(2013, 3, 1), datetime.date(2013, 3, 31))
(datetime.date(2013, 4, 1), datetime.date(2013, 4, 30))
(datetime.date(2013, 5, 1), datetime.date(2013, 5, 31))
(datetime.date(2013, 6, 1), datetime.date(2013, 6, 30))
(datetime.date(2013, 7, 1), datetime.date(2013, 7, 31))
(datetime.date(2013, 8, 1), datetime.date(2013, 8, 31))
(datetime.date(2013, 9, 1), datetime.date(2013, 9, 30))
(datetime.date(2013, 10, 1), datetime.date(2013, 10, 31))
(datetime.date(2013, 11, 1), datetime.date(2013, 11, 30))
(datetime.date(2013, 12, 1), datetime.date(2013, 12, 31))
(datetime.date(2014, 1, 1), datetime.date(2014, 1, 31))
(datetime.date(2014, 2, 1), datetime.date(2014, 2, 28))
(datetime.date(2014, 3, 1), datetime.date(2014, 3, 31))
(datetime.date(2014, 4, 1), datetime.date(2014, 4, 30))
(datetime.date(2014, 5, 1), datetime.date(2014, 5, 31))
(datetime.date(2014, 6, 1), datetime.date(2014, 6, 30))
(datetime.date(2014, 7, 1), datetime.date(2014, 7, 31))
(datetime.date(2014, 8, 1), datetime.date(2014, 8, 31))
(datetime.date(2014, 9, 1), datetime.date(2014, 9, 30))
(datetime.date(2014, 10, 1), datetime.date(2014, 10, 31))
(datetime.date(2014, 11, 1), datetime.date(2014, 11, 30))
(datetime.date(2014, 12, 1), datetime.date(2014, 12, 31))
(datetime.date(2015, 1, 1), datetime.date(2015, 1, 31))
(datetime.date(2015, 2, 1), datetime.date(2015, 2, 28))
(datetime.date(2015, 3, 1), datetime.date(2015, 3, 31))
(datetime.date(2015, 4, 1), datetime.date(2015, 4, 30))
(datetime.date(2015, 5, 1), datetime.date(2015, 5, 31))
(datetime.date(2015, 6, 1), datetime.date(2015, 6, 30))
(datetime.date(2015, 7, 1), datetime.date(2015, 7, 31))
(datetime.date(2015, 8, 1), datetime.date(2015, 8, 31))
(datetime.date(2015, 9, 1), datetime.date(2015, 9, 30))
(datetime.date(2015, 10, 1), datetime.date(2015, 10, 31))
(datetime.date(2015, 11, 1), datetime.date(2015, 11, 30))
(datetime.date(2015, 12, 1), datetime.date(2015, 12, 31))
(datetime.date(2016, 1, 1), datetime.date(2016, 1, 31))
(datetime.date(2016, 2, 1), datetime.date(2016, 2, 29))
(datetime.date(2016, 3, 1), datetime.date(2016, 3, 31))
(datetime.date(2016, 4, 1), datetime.date(2016, 4, 30))
(datetime.date(2016, 5, 1), datetime.date(2016, 5, 31))
(datetime.date(2016, 6, 1), datetime.date(2016, 6, 30))
(datetime.date(2016, 7, 1), datetime.date(2016, 7, 31))
(datetime.date(2016, 8, 1), datetime.date(2016, 8, 31))
(datetime.date(2016, 9, 1), datetime.date(2016, 9, 30))
(datetime.date(2016, 10, 1), datetime.date(2016, 10, 31))
(datetime.date(2016, 11, 1), datetime.date(2016, 11, 30))
(datetime.date(2016, 12, 1), datetime.date(2016, 12, 31))
(datetime.date(2017, 1, 1), datetime.date(2017, 1, 31))
(datetime.date(2017, 2, 1), datetime.date(2017, 2, 28))
(datetime.date(2017, 3, 1), datetime.date(2017, 3, 31))
(datetime.date(2017, 4, 1), datetime.date(2017, 4, 30))
(datetime.date(2017, 5, 1), datetime.date(2017, 5, 31))
(datetime.date(2017, 6, 1), datetime.date(2017, 6, 30))
(datetime.date(2017, 7, 1), datetime.date(2017, 7, 31))
(datetime.date(2017, 8, 1), datetime.date(2017, 8, 31))
(datetime.date(2017, 9, 1), datetime.date(2017, 9, 30))
(datetime.date(2017, 10, 1), datetime.date(2017, 10, 31))
(datetime.date(2017, 11, 1), datetime.date(2017, 11, 30))
(datetime.date(2017, 12, 1), datetime.date(2017, 12, 31))
(datetime.date(2018, 1, 1), datetime.date(2018, 1, 31))
(datetime.date(2018, 2, 1), datetime.date(2018, 2, 28))
(datetime.date(2018, 3, 1), datetime.date(2018, 3, 31))
(datetime.date(2018, 4, 1), datetime.date(2018, 4, 30))
(datetime.date(2018, 5, 1), datetime.date(2018, 5, 31))
Done
           Date TotalReturnsIndex
17  25-May-2018          14556.18
18  28-May-2018          14670.76
19  29-May-2018          14594.78
20  30-May-2018          14568.75
21  31-May-2018          14750.26